/* app css stylesheet */


#navigation {
    position: fixed;
    top: 10px;
    left: 2px;
    background-color: #222277;
}

#previewImages {
    position: fixed;
    top: 10px;
    left: 300px;
    background-color: #222277;
}

.example-show, .example-hide {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -ms-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.example-show.example-show-active,
.example-hide {
    opacity:1;
}

.example-hide.example-hide-active,
.example-show {
    opacity:0;
}

a {
    text-decoration: none;
}

body {
    background-color: #000055;
    color: #dddddd;
    font-family: Arial;
    font-size: 10pt;
}

a:hover {
    color: #ffff00;
}

a.clickable {
    cursor: pointer;
}

td {
    font-family: Verdana, Arial;
    font-size: 9pt;
    text-align: justify;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
