/* app css stylesheet */

#navigation {
    position: fixed;
    top: 10px;
    left: 480px;
    /*background-color: #222277;*/
}

button {
    margin-left: 10px;
    margin-right: 10px;
}
#previewImages {
    position: fixed;
    top: 45px;
    left: 300px;
    background-color: #222277;
}

.loading {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
    font-size: 40pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
}

.loadingImage {
    background-color: blue;
    opacity: 0.6;
}

#debug {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
    font-size: 8pt;
}

.pageLink {

    color: black;
    font-size: 8pt;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.pageLinkContainer {
    background-color: white;
    height: 500px;
    overflow: auto;
    position: fixed;
    top: 10px;
    left: 900px;
    width: 200px;
    white-space: nowrap;
    -moz-column-count: 2;    -moz-column-gap: 2em;
    -webkit-column-count: 2; -webkit-column-gap: 2em;
}

.pageLink:hover {
    background-color: #dddddd;
}

.example-show, .example-hide {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.example-show.example-show-active,
.example-hide {
    opacity: 1;
}

.example-hide.example-hide-active,
.example-show {
    opacity: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #000055;
    color: #dddddd;
    font-family: Arial;
    font-size: 10pt;
}

a:hover {
    color: #ffff00;
}

a.clickable {
    cursor: pointer;
}

td {
    font-family: Verdana, Arial;
    font-size: 9pt;
    text-align: justify;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
